@model ListBox_Demo.Models.Skill

@{
    ViewData["Title"] = "Home";
}

<h3>Skills ListBox from Database</h3>

<div class="form-group col-md-4">
    <select asp-for="Id" asp-items="ViewBag.Id" size="5" multiple class="form-control"></select>
    <span asp-validation-for="ProgrammingLanguage" class="text-danger"></span>
</div>
